html, body {
  background-color:#ac4500;
  height: 100%;
  font-family: 'Roboto';
  margin: 0 0;
}
.retangulo{
background-color: #cb641f;
    text-align: center;
    width: 500px;
    padding: 40px 0;
    border-radius: 10%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
  background-color: transparent;
  color:white;
  display: block;
  margin: 0 auto 10px auto;
  height: 25px;
  width: 57%;
}
input:focus {
  border-color: white;  
}

.button_login{
    background-color: #540C0C!important;
    color: white;
    width: 60%;
    border-radius: 15px;
    padding: 12px 0;
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2em;
    text-decoration: none;
    margin: 10px 0px 15px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;    
}

::placeholder { 
	color: white; 
	font-size: 1.5em;	
}

button { border:none; } 

input, button, submit { margin-top: 25px; } 

.logo_login{
	width: 65%;
}

body > div > form#menu{
  margin-top: 35px;
}

.fundo-cardapio {
  background-image: url("../documentacao/assets/foto-cardapio.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}